Exercise - 1

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [2]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

Answer:

Because 'break' is a keyword used to breakout of loop and we can't use it as variable.

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [6]:
b_year = 2005
c_year = 2024
Age = abs(b_year - c_year)

In [8]:
print(Age)

19

3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [28]:
F_name = 'Vedant'
M_name = 'Nandkishor'
S_name = 'Karokar'
Full_name = F_name +' '+ M_name +' '+ S_name

In [30]:
print(Full_name)

Vedant Nandkishor Karokar

4. Answer which of these are invalid variable names: _nation, 1record, record1, record_one, record-one, record^one, continue

In [29]:
1record = 'abc'

SyntaxError: invalid decimal literal (2594670668.py, line 1)

In [31]:
record-one = 'defg'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3713489206.py, line 1)

In [33]:
record^one = 'hijk'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3145413903.py, line 1)

In [35]:
continue = 'lmno'

SyntaxError: invalid syntax (1346836009.py, line 1)

Extra(experiment)

In [15]:
names = '_nation,1record,record1,record_one,record-one,record^one,continue'

In [17]:
abc = names.split(',')

In [19]:
print(abc)

['_nation', '1record', 'record1', 'record_one', 'record-one', 'record^one', 'continue']

In [23]:
for Names in abc:
    print(Names)

_nation
1record
record1
record_one
record-one
record^one
continue

In [25]:
print(Names)

continue

Exercise - 2

1.You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [102]:
def area(Length, Width):
    ans = Length * Width
    return ans
#-----------------------------------------------------------------------------#
try:
    Length = float(input('Length(in meters):'))
    Width = float(input('Width(in meters):'))
except ValueError as n:
    print('Please enter a number for the input.')
else:
    print(f"The area of a rectangle is {round(area(Length, Width),1)} meters")

Length(in meters): 92
Width(in meters): 48.8

The area of a rectangle is 4489.6 meters

2.You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [119]:
bought = 9
costs = 1.49
gave = 20
spent = bought*costs
got_back = gave - spent
print(f'The shopkeeper gave {got_back}$ back.')

The shopkeeper gave 6.59$ back.

3.You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)

In [128]:
area_bathroom = 5.5**2
cost_tiles = 500
total_cost_tile = area_bathroom * cost_tiles
print(f'The total cost will be ₹{total_cost_tile}')

The total cost will be ₹15125.0

4.Print binary representation of number 17

In [154]:
num=17
print('Binary of number 17 is:',format(num,'b'))

Binary of number 17 is: 10001

Exercise - 3

1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [206]:
street = 'Odori Avenue'
city = 'Sapporo'
country = 'Japan'
address = (street, city, country)
print('Address:', address)

Address: ('Odori Avenue', 'Sapporo', 'Japan')

In [208]:
print('Address:', street +', '+ city +', '+ country)

Address: Odori Avenue, Sapporo, Japan

In [210]:
print(f'Address: {street}, {city}, {country}')

Address: Odori Avenue, Sapporo, Japan

In [218]:
print(f'Address: {street},\n         {city},\n         {country}')

Address: Odori Avenue,
         Sapporo,
         Japan

2. Create a variable to store the string "Earth revolves around the sun"ex

In [232]:
Var = "Earth revolves around the sun"

(a) Print "revolves" using slice operator

In [276]:
Var[6:14]

'revolves'

(b) Print "sun" using negative index

In [278]:
Var[-3:]

'sun'

3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [282]:
fruits = 2
vegetables = 6
print(f"I eat {vegetables} veggies and {fruits} fruits daily")

I eat 6 veggies and 2 fruits daily

4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [304]:
s = 'maine 200 banana khaye'
s = 'maine 10 samosa khaye'
print(s)

maine 10 samosa khaye

In [308]:
#replace() function
s = 'maine 200 banana khaye'
s = s.replace('banana','samosa').replace('200','10')
print("Using single line:",s)

Using single line: maine 10 samosa khaye

Exercise - 4

1. Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,n this

In [627]:
exp = [2200, 2350, 2600, 2130, 2190]

a. In Feb, how many dollars you spent extra compare to January?

In [630]:
print(f'In Feb I spent {exp[1] - exp[0]}$ extra compared to January')

In Feb I spent 150$ extra compared to January

b. Find out your total expense in first quarter (first three months) of the year.

In [633]:
print(f"In first quarter I spent {exp[0]+exp[1]+exp[2]}$")

In first quarter I spent 7150$

c. Find out if you spent exactly 2000 dollars in any month

In [636]:
if 2000 in exp:
    print('I spent exactly 2000$ in a month.')
else:
    print('No, I did not spend exactly 2000$ in any month.')

No, I did not spend exactly 2000$ in any month.

In [638]:
print("Did I spent 2000$ in any month? ", 2000 in exp)

Did I spent 2000$ in any month?  False

d. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [641]:
exp.append(1980)

In [643]:
exp

[2200, 2350, 2600, 2130, 2190, 1980]

e. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this.

In [655]:
exp[3] = exp[3] - 200

In [659]:
exp

[2200, 2350, 2600, 1930, 2190, 1980]

2. You have a list of your favourite marvel super heros.

In [1038]:
heros = ['spider man','thor','hulk','iron man','captain america']

a. Length of the list

In [1041]:
len(heros)

5

b. Add 'black panther' at the end of this list

In [1044]:
heros.append('black panther')

In [1046]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

c. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.

In [1049]:
heros.pop()

'black panther'

In [1051]:
heros.insert(3, 'black panther')

In [1053]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

d. Now you don't like thor and hulk because they get angry easily :) . So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [1076]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [1081]:
heros.pop(1)

'hulk'

In [1086]:
heros.insert(1, 'doctor strange')

In [1088]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

e. Sort the heros list in alphabetical order (Hint: Use dir() functions to list down all functions available in list)

In [1093]:
heros.sort()

In [1095]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Exercise - 5

1. Using following list of cities per country

In [1098]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

a. Write a program that asks user to enter a city name and it should tell which country the city belongs to

In [1124]:
city = (input('City name:'))
if city in india:
    print(f'{city} is in India')
elif city in pakistan:
    print(f'{city} is in Pakistan')
elif city in bangladesh:
    print(f'{city} is in Bangladesh')
else:
    print('Please write the city from the list')

City name: 123'

Please write the city from the list

b. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [2]:
a = []
dir(a)
a.sort()
help(a)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None